* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
    background-color: blue;
    color: white;
}

footer {
    background-color: black;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

/************************************************
    UTILITIES
 ************************************************/

/* LAYOUT */

.container {
    width: 480px;
    margin: 0 auto;
    padding: 0 20px;
}

.row {
    display: flex;
    justify-content: center;
}

.header-row {
    justify-content: center;
}

.col-100 {
    width: 100%;
}

.col-90 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.col-80 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.col-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* TEXT */

.text-center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/************************************************
    SITE SECTIONS
 ************************************************/

/* HEADER */
.header-site {
    background-color: blue;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*SERVICES SECTION*/

.demo-col {
    width: 100%;
}

.demo-card {
    background-color: cornflowerblue;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.demo-card img {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}


.demo-card h1, p {
    margin-bottom: 20px;
}

.app-store-button {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: blue;
    color: white;
    width: 30%;
    border-radius: 15px;
    text-align: center;
    margin-left: 30px;
    margin-top: 20px;
}

.fa-apple {
    margin-left: 10px;
}

.service-col {
    width: 100%;
}

.service-card {
    background-color: cornflowerblue;
    margin-bottom: 20px;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.service-card h1, .fa-file-code, .fa-compass-drafting, .fa-laptop-code {
    color: blue;
}

/*STRATEGIC PLANNING SECTION*/

.strategic-planning {
    background-color: mediumpurple;
    padding-top: 30px;
    padding-bottom: 30px;
}

.sp-col {
    width: 100%;
}

.sp-card {
    color: white;
}

.sp-card h1 {
    color: white;
}

.sp-card img {
    width: 100%;
}

.app-development-col {
    width: 100%;
}

.app-development-card {
    background-color: white;
    color: black;
    border-radius: 20px;
}

.app-development-card img {
    width: 100%;
}

.violet-circle {
    background-color: mediumpurple;
    border-radius: 50%;
    width: 20px;
    margin-left: auto;
    margin-right: auto;
}

/*TESTIMONIALS SECTION*/

.testimonials-col {
    width: 100%;
}

.testimonials-card {
    margin-top: 30px;
}

.testimonials-card h1, p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.single-testimonal-col {
    width: 100%;
}

.single-testimonal-card {
    background-color: mediumpurple;
    color: white;
    border-radius: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.circular-frame {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.circular-frame img {
    width: 100%;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.single-testimonal-text {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/*BENEFITS SECTION*/

.benefits {
    background-color: mediumpurple;
    color: white;
    margin-top: 60px;
    padding-top: 40px;
    margin-bottom: 60px;
    padding-bottom: 40px;
}

.benefit-title-col {
    width: 100%;
}

.benefit-title-card {
    margin-bottom: 20px;
}

.benefit-title-card h1{
    color: white;
    text-align: center;
}

.benefit-col {
    width: 100%;
}

.benefit-card {
    background-color: white;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    color: black;
}

.number-h1, h1 {
    color: mediumpurple;
}

.more {
    background-color: mediumpurple;
    color: white;
    width: 30%;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 5px;
}

/*ABOUT US SECTION*/

.about-us {
    padding-top: 30px;
    padding-bottom: 30px;
}

.about-us-text {
    width: 100%;
}

.photo-quote {
    width: 100%;
}

.photo-quote-img {
    width: 50%;
    height: 200px;
    border-radius: 50%;
    background-image: url(../img/about.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.photo-quote-img > .fa-quote-left {
    font-size: 50px;
    color: mediumpurple;
    margin-left: 50px;
}

.p-purple {
    color: mediumpurple;
    font-size: 50px;
    font-weight: bold;
}

.find-me {
    background-color: mediumpurple;
    color: white;
    width: 50%;
    border-radius: 20px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*GET-STARTED SECTION*/

.get-started {
    background-color: mediumpurple;
    color: white;
}

.get-started-col {
    width: 100%;
}

.h1-white {
    color: white;
}

.h1-yellow {
    color: goldenrod;
}

.get-started-card a {
    color: white;
}

/*FOOTER*/

.foooter-col {
    width: 100%;
}

footer p {
    margin-top: 30px;
    margin-bottom: 40px;
}

footer a {
    color: mediumpurple;
}

/*

@media screen and (min-width: 1140px) {}

@media screen and (min-width: 768px) {}

*/