* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
    background-color: blue;
    color: white;
}

/************************************************
    UTILITIES
 ************************************************/

/* LAYOUT */

.container {
    width: 480px;
    margin: 0 auto;
    padding: 0 20px;
}

.row {
    display: flex;
    justify-content: center;
}

.header-row {
    justify-content: center;
}

.col-100 {
    width: 100%;
}

.col-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* TEXT */
.text-center {
    text-align: center;
}

/************************************************
    SITE SECTIONS
 ************************************************/

/* HEADER */
.header-site {
    background-color: blue;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*SERVICES SECTION*/

.demo-card {
    background-color: cornflowerblue;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.demo-card img {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}


.demo-card h1, p {
    margin-bottom: 20px;
}

.app-store-button {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: blue;
    color: white;
    width: 30%;
    border-radius: 15px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.fa-apple {
    margin-left: 10px;
}

.service-card {
    background-color: cornflowerblue;
    margin-bottom: 20px;
    border-radius: 20px;
}

.service-card h1, .fa-file-code, .fa-compass-drafting, .fa-laptop-code {
    color: blue;
}

/*STRATEGIC PLANNING SECTION*/

.strategic-planning {
    background-color: mediumpurple;
    color: white;
}

.sp-card img {
    width: 100%;
}

.app-development-card {
    background-color: white;
    color: black;
    border-radius: 13px;
}

.app-development-card img {
    width: 100%;
}

.violet-circle {
    background-color: mediumpurple;
    border-radius: 50%;
    width: 20px;
    margin-left: auto;
    margin-right: auto;
}

/*

@media screen and (min-width: 1140px) {}

@media screen and (min-width: 768px) {}

*/